<section class="cart-section">
    <% if(session.cart) { %>
        <div class="cart module">
            <div class="cart-title">
                <img src="/img/MdiCart.svg" alt="">
                <h2>Order Summary(<%= session.cart.totalQty %>)</h2>
            </div>
            <hr />
            <div class="items-list">

                <% for(let item of Object.values(session.cart.items)){ %>
                    <div class="item">
                        <img src="/img/<%= item.item.image %>" alt="waffle" />
                        <div class="item-data">
                            <h3>
                                <%= item.item.name %>
                            </h3>
                            <span>
                                <%= item.item.toppings %>
                            </span>
                        </div>
                        <span class="item-qty">
                            <%= item.qty %> Pc(s)
                        </span>
                        <span class="item-price">Rs. <%= item.item.price * item.qty %></span>
                        (<%= item.item.price %> x <%= item.qty %>)
                    </div>
                    <% } %>
            </div>
            <hr />
            <div class="cart-total">
                <div>
                    <span class="total-text">Total Amount:</span>
                    <span class="total-price">Rs. <%= session.cart.totalPrice %></span>
                </div>
                <% if(user) { %>
                    <div>
                        <form action="/orders" method="POST" class="form">
                            <input type="text" name="phone" placeholder="Phone Number" />
                            <input type="text" name="address" placeholder="Address" />
                            <div>
                                <button class="btn">Order Now</button>
                            </div>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="login-btn">
                            <a href="/login">Login to continue</a>
                        </div>
                        <% } %>
            </div>
        </div>
        <% } else { %>
            <div class="empty-cart">
                <div class="empty-cart__content module">
                    <h2 class="empty-cart__title">Cart Empty 😐</h2>
                    <p class="empty-cart__description">You haven't ordered any items yet. <br />
                        <a href="/">Click here</a> to fill the cart.
                    </p>
                    <img class="empty-cart__img" src="/img/empty-cart.jpg" alt="empty-cart">
                </div>
            </div>
            <% } %>
</section>